
<_within file="application.html">
  <div id="content">
    <div class="row-fluid" template="tutorial" field="id:id">

      <div class="span6">

        <div>
          <button class="btn btn-success" id="inc-button">Shift Gear</button>
        </div>

        <div class="counter-row">
          <span class="counter-label">My Gear:</span>
          <span class="counter" field="content:gear">40</span>
        <div class="stat-label">
          Speed (km/h)
        </div>
        <div class="stat" field="content:speed">25</div>
        <div class="stat-label">
          RPM
        </div>
        <div class="stat" field="content:rpm">25</div>
        </div>
        <div id="other-players">
          <div template="other-players" class="counter-row" field="id:id">
            <span class="counter-label">Speed for <span field="content:counter-id">ahbnytnh</span>:</span>
            <span class="counter" field="content:count">10</span>
            <span class="counter-label"> Distance :</span>
            <span class="counter" field="content:distance">10</span>
          </div>
        </div>

      </div>

      <div class="span2">

        <div class="stat-label">
           Total Count
        </div>
        <div class="stat" field="content:total-count">40</div>
        <div class="stat-label">
          Distance left (m)
        </div>
        <div class="stat" field="content:distance">25</div>
        <div class="stat-label">
          Total Players
        </div>
        <div class="stat" field="content:total-gears">25</div>

      </div>
      <div class="span3">

        <div class="stat-label">
          Game Time
        </div>
        <div class="stat" field="content:time">35</div>
        <div class="stat-label">
          Dataflow Time
        </div>
        <div class="stat" field="content:dataflow-time">35</div>

      </div>

    </div>

  </div>

</_within>
